<p>
  home works!
</p>
<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p appHighlight>Highlight me!</p>

<p appHighlight defaultColor="violet">Highlight me too!</p>

  <p appHighlightmy>Highlight me!</p>
  
  <p appHighlightmy defaultColor="violet">
  Highlight me too!
</p>